// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

// Reset Default Styles Start
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $secondary-font-family;
}

html {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
// Reset Default Styles End

// Common Styles for Frequently Used Elements Start
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $primary-font-family;
  letter-spacing: 0.3px;
  line-height: 1;
  font-weight: 360;
}

p {
  letter-spacing: 0.3px;
}
// Common Styles for Frequently Used Elements End

// Page-Specific Styles Start
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 2.2rem;
  padding-bottom: 1rem;

  .logo {
    width: 6rem;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    #checkbox-for-toggle {
      display: none;
    }

    #checkbox-for-toggle:checked + .nav-links {
      display: flex;
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(2) {
      width: 0;
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(1) {
      transform-origin: right top;
      transform: rotate(-37deg);
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(3) {
      transform-origin: right bottom;
      transform: rotate(35deg);
    }

    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 2.3rem - 2.3rem);
      flex-direction: column;
      font-size: 1.3rem;
      font-weight: 400;
      background-color: $black;
      padding: 2rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      li {
        padding-block: 1em;
        letter-spacing: 0.5px;

        a {
          color: $white;
        }
      }

      button.primary-btn {
        width: 100%;
        background-color: $white;
        color: $black;
      }
    }

    .toggle-btns {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      cursor: pointer;

      & > span {
        font-size: 1.3rem;
        font-weight: 400;
      }

      button {
        display: none;
      }

      .toggle-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.9rem;
      }

      .toggle-bar {
        .toggle-bar-line:nth-child(2) {
          transition: all 0.5s ease-out 0s;
        }

        .toggle-bar-line {
          width: 3.2rem;
          height: 0.1rem;
          background-color: $black;
          transition: all 0.2s ease-out 0.2s;
        }
      }
    }
  }
}
// Navbar End

// Hero Section Start
.hero {
  padding-top: 3rem;
  @include flex-properties($des-dir: column, $des-gap: 3rem);

  .hero-top-text {
    & > div {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      p {
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
  }

  .hero-bottom {
    @include flex-properties($des-dir: row-reverse);

    .hero-bottom-img {
      aspect-ratio: 1;
    }

    .hero-bottom-text {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: space-between;

      p {
        font-size: 1.8rem;
        margin-top: 2rem;
      }

      .hero-bottom-services {
        @include flex-properties(
          $mob-gap: 1.5rem,
          $des-dir: column,
          $des-gap: 1.5rem
        );

        hr {
          border: none;
          background-color: rgba(128, 128, 128, 0.354);
          height: 1.2px;
        }

        .service {
          display: flex;
          justify-content: space-between;

          h4 {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}
// Hero Section End

// Tailored Section Start
.tailored {
  padding-top: 3rem;
  @include flex-properties();

  .tailored-text {
    @include flex-properties(
      $mob-dir: row,
      $des-dir: row-reverse,
      $des-gap: 3rem
    );

    & > p {
      writing-mode: vertical-rl;
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-size: 1.8rem;
        color: $light-text-color;
        margin-top: 2rem;
      }
    }
  }
}
// Tailored Section End

// Services Section Start
.services {
  padding-block: 6.4rem;
  @include flex-properties();

  .services-text {
    .services-boxes {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;

      .service-box {
        padding-top: 2rem;
        border-top: 1px solid rgba(128, 128, 128, 0.477);

        h4 {
          font-size: 2.4rem;
          font-weight: 360;
        }

        p {
          font-size: 1.6rem;
          color: $light-text-color;
          margin-top: 2rem;
        }
      }
    }
  }
}
// Services Section End

// Selected Work Section Start
.selected-work {
  padding-top: 3rem;
  border-top: 1.2px solid rgba(128, 128, 128, 0.244);
  @include flex-properties($des-dir: column, $des-gap: 3rem);

  .selected-work-boxes {
    @include flex-properties($des-gap: 3rem);

    & > div {
      flex: 1;
    }

    & > div:nth-child(2) {
      display: none;
    }

    & > div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 3.6rem;
      }

      p {
        font-size: 1.6rem;
        color: $light-text-color;
        margin-top: 2rem;
      }
    }
  }
}
// Selected Work Section End

// Clients Section Start
.clients {
  padding-block: 4.8rem;

  .clients-data {
    margin-top: 3rem;
    @include flex-properties($des-dir: column, $des-gap: 3rem);

    .client-data {
      @include flex-properties($mob-gap: 1.5rem, $des-gap: 1.5rem);
      align-items: center;

      p {
        text-transform: uppercase;
        font-size: 1.3rem;
      }

      & > div {
        @include flex-properties($mob-gap: 1.5rem, $des-gap: 3rem);
        align-items: center;

        h5 {
          font-size: 2.8rem;
        }
      }
    }
  }
}
// Clients Section End

// Team Section Start
.team {
  padding-block: 4.8rem;
  border-top: 1.2px solid rgba(128, 128, 128, 0.244);
  @include flex-properties($des-dir: column);

  .team-header {
    @include flex-properties();

    p {
      font-size: 1.8rem;
    }
  }

  .team-members {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    .team-member {
      h5 {
        font-size: 2.4rem;
      }

      .team-member-img {
        margin-block: 1.5rem;
      }

      .role {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h6 {
          font-size: 1.3rem;
        }

        .socials {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          a {
            color: $black;
            font-size: 1.5rem;
          }
        }
      }

      p {
        font-size: 1.6rem;
        color: $light-text-color;
        margin-top: 2rem;
      }
    }
  }
}
// Team Section End

// Footer Start
footer {
  padding-block: 3rem;
  background-color: $black;
  color: $white;

  button.primary-btn {
    background-color: $white;
    color: $black;
  }

  .footer-top {
    padding-block: 6rem;
    text-align: center;

    h1 {
      color: $white;
      margin-block: 2rem;
      font-size: 3.6rem;
    }
  }

  hr {
    border: none;
    background-color: rgba(121, 121, 121, 0.991);
    height: 1.2px;
  }

  .footer-bottom {
    padding-block: 3rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;

    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .logo {
        width: 9rem;
        height: auto;
      }

      h6 {
        font-size: 1.8rem;
      }

      ul {
        @include flex-properties(
          $mob-gap: 1.7rem,
          $des-dir: column,
          $des-gap: 2rem
        );

        font-size: 1.3rem;
        text-transform: uppercase;

        li {
          a {
            color: $white;
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
              width: 4rem;
              aspect-ratio: 1;
              display: grid;
              place-content: center;
              background-color: $white;
              color: $black;
              font-size: 2rem;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .developed-by {
    color: $light-text-color;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}
// Footer End

// Page-Specific Styles End
