@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.primary-btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Roboto Mono", serif;
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8em 1.5em;
  letter-spacing: 0.2px;
  border-radius: 3rem;
  text-transform: uppercase;
}
.primary-btn div span:last-child {
  display: none;
}

.primary-heading {
  font-size: 4.4rem;
}

.secondary-heading {
  font-size: 4rem;
}

.common-padding-inline {
  padding-inline: 2.3rem;
}

.visit-to {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #000;
}
.visit-to span {
  width: 4rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  transform: rotate(45deg);
  border-radius: 50%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Mulish", serif;
  letter-spacing: 0.3px;
  line-height: 1;
  font-weight: 360;
}

p {
  letter-spacing: 0.3px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 2.2rem;
  padding-bottom: 1rem;
}
.navbar .logo {
  width: 6rem;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar-right #checkbox-for-toggle {
  display: none;
}
.navbar .navbar-right #checkbox-for-toggle:checked + .nav-links {
  display: flex;
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(2) {
  width: 0;
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(1) {
  transform-origin: right top;
  transform: rotate(-37deg);
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(3) {
  transform-origin: right bottom;
  transform: rotate(35deg);
}
.navbar .navbar-right .nav-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2.3rem - 2.3rem);
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #000;
  padding: 2rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.navbar .navbar-right .nav-links li {
  padding-block: 1em;
  letter-spacing: 0.5px;
}
.navbar .navbar-right .nav-links li a {
  color: #fff;
}
.navbar .navbar-right .nav-links button.primary-btn {
  width: 100%;
  background-color: #fff;
  color: #000;
}
.navbar .navbar-right .toggle-btns {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
}
.navbar .navbar-right .toggle-btns > span {
  font-size: 1.3rem;
  font-weight: 400;
}
.navbar .navbar-right .toggle-btns button {
  display: none;
}
.navbar .navbar-right .toggle-btns .toggle-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.9rem;
}
.navbar .navbar-right .toggle-btns .toggle-bar .toggle-bar-line:nth-child(2) {
  transition: all 0.5s ease-out 0s;
}
.navbar .navbar-right .toggle-btns .toggle-bar .toggle-bar-line {
  width: 3.2rem;
  height: 0.1rem;
  background-color: #000;
  transition: all 0.2s ease-out 0.2s;
}

.hero {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .hero {
    flex-direction: column;
    gap: 3rem;
  }
}
.hero .hero-top-text > div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.hero .hero-top-text > div p {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.hero .hero-bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .hero .hero-bottom {
    flex-direction: row-reverse;
    gap: 5rem;
  }
}
.hero .hero-bottom .hero-bottom-img {
  aspect-ratio: 1;
}
.hero .hero-bottom .hero-bottom-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
.hero .hero-bottom .hero-bottom-text p {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 990px) {
  .hero .hero-bottom .hero-bottom-text .hero-bottom-services {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services hr {
  border: none;
  background-color: rgba(128, 128, 128, 0.354);
  height: 1.2px;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services .service {
  display: flex;
  justify-content: space-between;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services .service h4 {
  font-size: 2.8rem;
}

.tailored {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .tailored {
    flex-direction: row;
    gap: 5rem;
  }
}
.tailored .tailored-text {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
@media (min-width: 990px) {
  .tailored .tailored-text {
    flex-direction: row-reverse;
    gap: 3rem;
  }
}
.tailored .tailored-text > p {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.tailored .tailored-text > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tailored .tailored-text > div p {
  font-size: 1.8rem;
  color: grey;
  margin-top: 2rem;
}

.services {
  padding-block: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .services {
    flex-direction: row;
    gap: 5rem;
  }
}
.services .services-text .services-boxes {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.services .services-text .services-boxes .service-box {
  padding-top: 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.477);
}
.services .services-text .services-boxes .service-box h4 {
  font-size: 2.4rem;
  font-weight: 360;
}
.services .services-text .services-boxes .service-box p {
  font-size: 1.6rem;
  color: grey;
  margin-top: 2rem;
}

.selected-work {
  padding-top: 3rem;
  border-top: 1.2px solid rgba(128, 128, 128, 0.244);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .selected-work {
    flex-direction: column;
    gap: 3rem;
  }
}
.selected-work .selected-work-boxes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .selected-work .selected-work-boxes {
    flex-direction: row;
    gap: 3rem;
  }
}
.selected-work .selected-work-boxes > div {
  flex: 1;
}
.selected-work .selected-work-boxes > div:nth-child(2) {
  display: none;
}
.selected-work .selected-work-boxes > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selected-work .selected-work-boxes > div:last-child h4 {
  font-size: 3.6rem;
}
.selected-work .selected-work-boxes > div:last-child p {
  font-size: 1.6rem;
  color: grey;
  margin-top: 2rem;
}

.clients {
  padding-block: 4.8rem;
}
.clients .clients-data {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .clients .clients-data {
    flex-direction: column;
    gap: 3rem;
  }
}
.clients .clients-data .client-data {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 990px) {
  .clients .clients-data .client-data {
    flex-direction: row;
    gap: 1.5rem;
  }
}
.clients .clients-data .client-data p {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.clients .clients-data .client-data > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 990px) {
  .clients .clients-data .client-data > div {
    flex-direction: row;
    gap: 3rem;
  }
}
.clients .clients-data .client-data > div h5 {
  font-size: 2.8rem;
}

.team {
  padding-block: 4.8rem;
  border-top: 1.2px solid rgba(128, 128, 128, 0.244);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .team {
    flex-direction: column;
    gap: 5rem;
  }
}
.team .team-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 990px) {
  .team .team-header {
    flex-direction: row;
    gap: 5rem;
  }
}
.team .team-header p {
  font-size: 1.8rem;
}
.team .team-members {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.team .team-members .team-member h5 {
  font-size: 2.4rem;
}
.team .team-members .team-member .team-member-img {
  margin-block: 1.5rem;
}
.team .team-members .team-member .role {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team .team-members .team-member .role h6 {
  font-size: 1.3rem;
}
.team .team-members .team-member .role .socials {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.team .team-members .team-member .role .socials a {
  color: #000;
  font-size: 1.5rem;
}
.team .team-members .team-member p {
  font-size: 1.6rem;
  color: grey;
  margin-top: 2rem;
}

footer {
  padding-block: 3rem;
  background-color: #000;
  color: #fff;
}
footer button.primary-btn {
  background-color: #fff;
  color: #000;
}
footer .footer-top {
  padding-block: 6rem;
  text-align: center;
}
footer .footer-top h1 {
  color: #fff;
  margin-block: 2rem;
  font-size: 3.6rem;
}
footer hr {
  border: none;
  background-color: rgba(121, 121, 121, 0.991);
  height: 1.2px;
}
footer .footer-bottom {
  padding-block: 3rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
}
footer .footer-bottom .footer-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .footer-bottom .footer-links .logo {
  width: 9rem;
  height: auto;
}
footer .footer-bottom .footer-links h6 {
  font-size: 1.8rem;
}
footer .footer-bottom .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
@media (min-width: 990px) {
  footer .footer-bottom .footer-links ul {
    flex-direction: column;
    gap: 2rem;
  }
}
footer .footer-bottom .footer-links ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer-bottom .footer-links ul li a span {
  width: 4rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  border-radius: 50%;
}
footer .developed-by {
  color: grey;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}
/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  * {
    word-wrap: break-word;
  }
  html {
    font-size: 38%;
  }
}
/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 25%;
  }
}
/* General Styles for screen size >= 490px */
@media screen and (min-width: 490px) {
  .common-padding-inline {
    padding-inline: 3rem;
  }
  .navbar .navbar-right .nav-links {
    width: calc(100% - 3rem - 3rem);
  }
  .navbar .navbar-right .toggle-btns button {
    display: initial;
  }
  .selected-work .selected-work-boxes {
    flex-direction: row;
  }
  .selected-work .selected-work-boxes > div:last-child {
    padding-block: 2rem;
  }
  .selected-work .selected-work-boxes:last-child {
    flex-direction: row-reverse;
  }
  .clients .clients-data .client-data {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .clients .clients-data .client-data > div {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .team .team-members {
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-bottom {
    grid-template-columns: 1fr 1fr;
  }
}
/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  .common-padding-inline {
    padding-inline: 5rem;
  }
  .primary-heading {
    font-size: 7.2rem;
  }
  .secondary-heading {
    font-size: 6.4rem;
  }
  .navbar {
    padding-top: 2.5rem;
  }
  .navbar .navbar-right .nav-links {
    width: calc(100% - 5rem - 5rem);
  }
  .hero .hero-bottom .hero-bottom-text p {
    font-size: 2.2rem;
  }
  .hero .hero-bottom .hero-bottom-text .hero-bottom-services .service h4 {
    font-size: 3.2rem;
  }
  .services .services-text .services-boxes {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .selected-work .selected-work-boxes > div:last-child h4 {
    font-size: 5.6rem;
  }
  .clients .clients-data .client-data > div h5 {
    font-size: 3.2rem;
  }
  footer .footer-top h1 {
    font-size: 5.6rem;
  }
}
/* General Styles for screen size >= 990px */
@media screen and (min-width: 990px) {
  .common-padding-inline {
    padding-inline: 6rem;
  }
  .primary-heading {
    font-size: clamp(40px, 6.5vw, 96px);
  }
  .secondary-heading {
    font-size: clamp(30px, 5vw, 80px);
  }
  .primary-btn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .primary-btn div span {
    transition: all 0.2s linear;
    padding-block: 3px;
  }
  .primary-btn div:hover span:first-child {
    transform: translateY(-100%);
  }
  .primary-btn div span:last-child {
    position: absolute;
    top: 100%;
    display: initial;
  }
  .primary-btn div:hover span:last-child {
    top: 0;
  }
  .navbar {
    padding-top: 3.2rem;
  }
  .navbar .navbar-right .nav-links {
    display: revert;
    position: initial;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0;
    background-color: initial;
  }
  .navbar .navbar-right .nav-links li {
    padding: 0 0 0.3rem 0;
    position: relative;
  }
  .navbar .navbar-right .nav-links li::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 0;
    bottom: 0;
    transition: all 0.3s linear;
    left: 0;
  }
  .navbar .navbar-right .nav-links li:hover::after {
    width: 100%;
  }
  .navbar .navbar-right .nav-links li a {
    color: #000;
  }
  .navbar .navbar-right .nav-links button {
    display: none;
  }
  .navbar .navbar-right .toggle-btns button {
    display: initial;
  }
  .navbar .navbar-right .toggle-btns .toggle-bar {
    display: none;
  }
  .hero {
    padding-top: 4.8rem;
  }
  .hero .hero-top-text > div {
    margin-top: 1.3rem;
  }
  .hero .hero-bottom .hero-bottom-img {
    flex: 1;
  }
  .hero .hero-bottom .hero-bottom-text {
    flex: 1;
  }
  .hero .hero-bottom .hero-bottom-text .hero-bottom-services .service h4 {
    font-size: clamp(20px, 2.25vw, 32px);
  }
  .tailored {
    padding-top: 4.8rem;
  }
  .tailored .tailored-img {
    flex: 0.5;
  }
  .tailored .tailored-text {
    flex: 1;
    padding-block: 2rem;
  }
  .tailored .tailored-text > div p {
    width: 75%;
  }
  .services {
    padding-block: 12.8rem;
  }
  .services .services-text {
    flex: 1;
    padding-block: 2rem;
  }
  .services .services-text .services-boxes .service-box h4 {
    font-size: clamp(10px, 1.75vw, 24px);
  }
  .services .services-img {
    flex: 1;
  }
  .selected-work {
    padding-top: 6.4rem;
  }
  .selected-work .selected-work-boxes {
    flex-direction: row;
  }
  .selected-work .selected-work-boxes > div:nth-child(2) {
    display: initial;
  }
  .selected-work .selected-work-boxes > div:last-child h4 {
    font-size: clamp(20px, 4.5vw, 64px);
  }
  .clients {
    padding-block: 6.5rem;
  }
  .clients img.clients-heading {
    width: 30%;
    display: block;
    margin-left: auto;
  }
  .clients .clients-data {
    width: 60%;
    margin-left: auto;
  }
  .clients .clients-data .client-data > div h5 {
    font-size: clamp(10px, 2.5vw, 32px);
  }
  .team {
    padding-block: 6.4rem;
  }
  .team .team-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .team .team-header p {
    width: 50%;
    padding-top: 1rem;
  }
  .team .team-members {
    grid-template-columns: repeat(4, 1fr);
  }
  .team .team-members .team-member h5 {
    font-size: clamp(10px, 1.75vw, 24px);
  }
  footer .footer-top h1 {
    font-size: clamp(20px, 4.5vw, 64px);
    width: 70%;
    margin-inline: auto;
  }
  footer .footer-bottom {
    grid-template-columns: repeat(4, 1fr);
  }
}