/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Reset Default Styles Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
/* Reset Default Styles End */

/* Page-Specific Styles Start */
.site-wrapper {
  padding: 1.5rem;
  min-height: 100vh;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* File Download Box Start */
.file-download-box {
  width: 100%;
  max-width: 40rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.087);
  background-color: #fff;
}

.head {
  padding: 2rem;
  color: #fff;
  text-align: center;
  background-color: #ff9f1a;
}

.head h2 {
  font-weight: 550;
  font-size: 2.5rem;
  word-spacing: 3px;
}

.body {
  padding: 4rem 2rem;
}

.progress-bar-box {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.171) inset,
    -1px -1px 3px rgba(0, 0, 0, 0.171) inset;
  height: 2rem;
  border-radius: 2rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #3d3d3d;
}

.file-text {
  padding-inline: 0.6rem;
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  font-size: 1.2rem;
  color: #3d3d3d;
}

button {
  width: 100%;
  padding: 1.2rem 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 550;
  font-family: unset;
  text-transform: unset;
  letter-spacing: 0.3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.139);
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  background-color: #07ff5e;
}

button.download:active {
  transform: scale(0.98);
}

/* Hover effects for devices that support hover (e.g., desktops) */
@media (hover: hover) {
  button.download:hover {
    background-color: #13db59;
  }
}
/* File Download Box End */

/* Page-Specific Styles End */
